<%- include("partials/head.ejs"); %>


<body class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card px-3 py-5 mb-4">
          <div class="card-body">
            <form action="/register" method="post">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" value="<%=inputBox.username%>">
              </div>
              <div class="mb-3">
                <label for="displayName" class="form-label">Display Name</label>
                <input name="displayName" type="text" class="form-control" id="displayName" aria-describedby="emailHelp" value="<%=inputBox.displayName%>">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%=inputBox.email%>">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="password mb-5">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password" value="<%=inputBox.password%>">
                <i class="far fa-eye-slash"></i>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
                <% if (message) {%>
                  <div class="alert alert-danger mb-4 mt-4" role="alert">
                    <%=message%>
                  </div>
                  <%}%>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-body text-center">
              Already have an account? <a class="text-decoration-none" href="login">Login.</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
  </body>
</html>
